img {
  max-width: 100%;
  height: auto; }

.green-text {
  color: #3cff00;
  font-weight: 600; }

.visible-mobile {
  display: block; }
  @media (min-width: 768px) {
    .visible-mobile {
      display: none; } }

.visible-desktop {
  display: none; }
  @media (min-width: 768px) {
    .visible-desktop {
      display: block; } }

header h3 {
  font-size: 30px;
  font-weight: 600;
  margin-top: 0;
  line-height: 1; }
  @media (min-width: 768px) {
    header h3 {
      margin-bottom: 28px;
      font-size: 40px; } }
  header h3 span {
    display: block;
    color: #86868b;
    font-size: 14px;
    margin-bottom: 10px; }
    @media (min-width: 768px) {
      header h3 span {
        font-size: 18px; } }

.apple__banner {
  background-color: #000;
  color: #fff;
  padding: 30px;
  position: relative;
  border-bottom: 4px solid #161617; }
  @media (min-width: 768px) {
    .apple__banner {
      padding: 80px 20px; } }
  .apple__banner-wrapper {
    color: #fff;
    text-align: center; }
    .apple__banner-wrapper header {
      text-align: center; }
      .apple__banner-wrapper header h1 {
        background-image: url("../img/logo.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        text-indent: -999999px;
        overflow: hidden;
        display: inline-block;
        width: 30px;
        height: 40px; }
      .apple__banner-wrapper header h2 {
        font-size: 25px;
        margin: 0 0 10px; }
        @media (min-width: 768px) {
          .apple__banner-wrapper header h2 {
            font-size: 50px; } }
    .apple__banner-wrapper p {
      display: inline-block;
      font-size: 16px;
      max-width: 250px; }
      @media (min-width: 768px) {
        .apple__banner-wrapper p {
          max-width: 420px; } }
    .apple__banner-wrapper--cta {
      padding: 20px 0; }
      .apple__banner-wrapper--cta a {
        display: inline-block;
        padding: 7px 14px;
        text-align: center;
        border-radius: 30px;
        border: 2px solid #fff;
        color: #fff;
        text-decoration: none; }
    .apple__banner-wrapper img {
      display: inline-block;
      max-width: 70%; }
      @media (min-width: 768px) {
        .apple__banner-wrapper img {
          max-width: 100%; } }

.apple__waves {
  position: relative;
  padding: 22px;
  background-color: #000;
  color: #fff;
  padding: 33px;
  position: relative;
  border-bottom: 4px solid #161617; }
  @media (min-width: 768px) {
    .apple__waves {
      min-height: 330px;
      padding: 180px 30px 30px; } }
  .apple__waves--image {
    display: none; }
    @media (min-width: 768px) {
      .apple__waves--image {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0; } }
  .apple__waves-wrapper {
    position: relative;
    z-index: 1; }
    @media (min-width: 768px) {
      .apple__waves-wrapper {
        padding-left: 360px; } }
  .apple__waves--caption {
    max-width: 365px; }
    @media (min-width: 768px) {
      .apple__waves--caption {
        max-width: 325px; } }

.apple__environment {
  padding: 30px 20px; }
  @media (min-width: 768px) {
    .apple__environment {
      overflow: hidden;
      padding: 0 0;
      background-color: #b6aeab; } }
  .apple__environment-wrapper {
    position: relative; }
    @media (min-width: 768px) {
      .apple__environment-wrapper header h3 {
        font-size: 50px; } }
    @media (min-width: 768px) {
      .apple__environment-wrapper img {
        position: absolute;
        right: -50%;
        top: 0; } }
  .apple__environment--caption {
    padding: 30px 0; }
    @media (min-width: 768px) {
      .apple__environment--caption {
        padding: 100px 0 0;
        min-height: 510px;
        max-width: 328px; } }
    @media (min-width: 768px) {
      .apple__environment--caption p {
        font-size: 18px; } }

.apple__custom {
  background-color: #000;
  color: #fff;
  padding: 40px 30px;
  position: relative;
  border-bottom: 4px solid #161617; }
  @media (min-width: 768px) {
    .apple__custom {
      padding: 57px 20px;
      min-height: 335px; } }
  .apple__custom-wrapper {
    position: relative; }
  .apple__custom--caption p {
    max-width: 200px; }
  @media (min-width: 768px) {
    .apple__custom--image {
      position: absolute;
      bottom: -32%;
      right: 0; } }

.apple__performance {
  min-height: 417px; }
  .apple__performance-wrapper {
    position: relative;
    padding: 30px; }
    @media (min-width: 768px) {
      .apple__performance-wrapper {
        padding: 85px 0; } }
  @media (min-width: 768px) {
    .apple__performance--image {
      position: absolute;
      left: 0;
      top: 37px; } }
  @media (min-width: 768px) {
    .apple__performance--image img {
      max-width: 220px; } }
  @media (min-width: 768px) {
    .apple__performance--caption {
      padding-left: 300px; } }
  .apple__performance--caption p {
    max-width: 360px; }

.apple__magical {
  background-color: #000;
  color: #fff;
  padding: 35px 30px;
  position: relative;
  border-bottom: 4px solid #161617; }
  @media (min-width: 768px) {
    .apple__magical {
      padding: 57px 0;
      min-height: 335px; } }
  .apple__magical-wrapper {
    position: relative; }
  @media (min-width: 768px) {
    .apple__magical--caption {
      padding: 40px 0; } }
  .apple__magical--caption p {
    max-width: 274px; }
  @media (min-width: 768px) {
    .apple__magical--image {
      position: absolute;
      bottom: -10%;
      right: 0; } }
  .apple__magical--image img {
    max-width: 252px; }

.apple__battery {
  background-color: #000;
  color: #fff;
  padding: 35px 30px;
  position: relative;
  border-bottom: 4px solid #161617; }
  @media (min-width: 768px) {
    .apple__battery {
      padding: 40px 0;
      min-height: 335px; } }
  .apple__battery-wrapper {
    position: relative; }
  @media (min-width: 768px) {
    .apple__battery--image {
      position: absolute;
      bottom: 30%;
      left: 0; } }
  .apple__battery--image img {
    max-width: 195px; }
  @media (min-width: 768px) {
    .apple__battery--caption {
      padding: 0 0 0 274px; } }
  .apple__battery--features {
    padding: 0 0; }
    .apple__battery--features li {
      max-width: 95px;
      display: inline-block;
      vertical-align: top;
      margin: 0 10px 0 0; }
      .apple__battery--features li h4 {
        font-size: 40px;
        line-height: 1;
        color: #fff;
        margin: 0 0; }
        .apple__battery--features li h4 span {
          color: #86868b;
          font-weight: 600;
          font-size: 14px; }
      .apple__battery--features li p {
        margin-top: 0;
        color: #86868b;
        font-size: 11px; }
